body{
    background-color: rgb(255, 255, 255);
}

.contenedor{
    background-color: rgb(255, 255, 255);
    height: 750px;
    padding: 2em;
    margin: 5vh;
    border: 2px solid rgb(114, 114, 114);
   
    
}


.caja1{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 60px;
  float: center;
  float:top;
  position: relative;
  left: 10em;
  
  
}


.caja2{
    background-color: rgb(255, 255, 255);
    width: 1020px;
    height: 400px;
    float: right;
    
   
}


.caja3{

    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 500px;
    float: left;

    
}

.caja4{
   
    width: 130px;
    height: 30px;
    float: left;    
    margin:0 0 8px;
	overflow:hidden; 
    padding:3px; 
    position: relative;
    top: 6em;
    background: linear-gradient(rgb(162, 222, 125) 70%, rgb(255, 255, 255)); 
   

}


.caja44{
   
    width: 130px;
    height: 30px;
    float: left;    
    margin:0 0 8px;
	overflow:hidden; 
    padding:3px; 
    position: relative;
    top: 6em;
    background: linear-gradient(rgb(234, 192, 6) 70%, rgb(255, 255, 255)); 
}
   

